@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background:#1FD6A5;
  border-radius: 5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  color: #1FD6A5;
}

.heading span {
  color: #30076a;
}

.btn {
  display: block;
  margin-top: 1rem;
  padding: .8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid #30076a;
  cursor: pointer;
  background: none;
  color: #30076a
  ;
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
  
  
}
#login-btn{
  font-size: 14px;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1D7874;
  z-index: -1;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
          clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.btn:hover {
  color: #ffffff;
}
.readmore{
  width: 200px;
  text-align: center;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.header {
    background: #fff;
    display:-webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 9%;
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-transform: translateX(0rem);
            transform: translatey(0rem);
           
  }
  .header.active {
    -webkit-transform: translateX(0rem);
            transform: translateY(0rem);
  }
  .header .logo {
    font-size: 2.5rem;
    color: #16001E;
    font-weight: bolder;
    text-decoration: none;
    
  }
  
  .header .logo i {
    color: #1FD6A5;
    
  }
  
  .header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #1D7874;
  }
  
  .header .navbar a:hover {
    color: #1aa7ac;
    text-decoration: none;
    
  }
  .navbar ul{
    display: flex;
    list-style: none;
  }
  .navbar li:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }

  
  .header .icons a,
  .header .icons div {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    color: #16001E;
    cursor: pointer;
  }
  
  .header .icons a:hover,
  .header .icons div:hover {
    color: #1aa7ac;
    transform: scale(1.1);
  }

  .container {
    position: relative;
    width: 50%;
    height: 300px;
  }
  
  /* Make the image responsive */
  .container img {
    width: 90%;
    height: 400px;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1D7874;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
 .btn:hover {
    background-color: black;
  }

  .home{
    height: 100vh;
    display: flex;
    margin-top: 150px;
  }


  /* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container-forms{
  margin-left: 40px;
  width: 50%;
  margin-top: 100px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 350px;
  font-size: 16px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

.donation-forms{
  display: flex;
  height: 100vh;
}

.cs{
  width: 100%;
  position: absolute;
  height: 50vh;
  margin: 0 auto;
  text-align: center;
}

.cs h1{
  font-size: 50px;
}
.cs p{
  font-size: 20px;
}