html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	margin-left: 30px;
	height: 500px;
	width: 900px;
}

label {
	padding: 20px 10px;
	display: inline-block;
	font-size: 1.5em;
}

input {
	font-size: 0.75em;
	padding: 10px;
}

#wrapper{
	margin-top:100px;
	display: flex;
	height: 100%;
	width: 100%;
}

#rescue-content{
	margin: 200px auto;
	display: block;
	
}

#savelocation{
	background-color: #4CAF50; /* Green */
	border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
#savelocation:hover, #uploadimages:hover{
	transform: scale(1.05);
	transition: 0.3s;
}

#uploadimages{
	background-color: #4CAF50; /* Green */
	border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}